/* =============== MOBILE ===============*/

@media screen and (max-width: 1157px) {
    .strategies-item-thumb {
        display: none;
    }
}

.strategies { 
    display: flex;
    justify-content: center;
    padding: 96px 0
}

.strategies-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;

}

.strategies-headline {
    margin-bottom: 8px;

    color: var( --dark-text-color);

    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.strategies-text {
    color: var(--regular-text-color);

    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}


/* =============== TABLET ===============*/

@media screen and (min-width: 768px) {
    .strategies-list {
        flex-direction: row;    
        flex-wrap: wrap;
        gap: 24px;
    }

    .strategies-item {
        width: calc((100% - 24px) / 2);
    }

    .strategies-headline {
        text-align: start;
    }

    .strategies-text {
        color: var(--regular-text-color);
    
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5; 
        letter-spacing: 0.02em;
    }
}

/* =============== DESKTOP ===============*/

@media screen and (min-width: 1158px) {
        
    .strategies { 
        padding: 120px 0
    }

    .strategies-list {
        gap: 24px;
    }

    .strategies-item-thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;

        border: 1px solid #8E8F99;
        border-radius: 4px;

        background: #F4F4FD;
    }

    .strategies-item {
        width: calc((100% - 72px) / 4);
    }

    .strategies-headline {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2; 
    }

}
